<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指向mapper接口 -->
<mapper
	namespace="com.wt.restaurant.dao.dishorder.IDishOrderMapper">
	<resultMap type="DishOrderLine" id="dishorderline">
		<id column="id" property="id" />
		<result column="dish_count" property="dishCount" />
		<result column="unit_price" property="unitPrice" />
		<result column="specifications" property="specifications" />

		<collection property="menu" ofType="Menu" column="id">
			<id column="menu_id" property="id" />
			<result column="name" property="name" />
		</collection>
	</resultMap>

	<select id="listDishOrder" resultType="DishOrder">
		SELECT
		id,
		order_number,
		reserve_type,
		create_time,
		total_count,
		total_amount,
		discount_amount,
		total_pay_amount,
		order_status,
		remark
		FROM
		dish_order
		where 1=1
		<if
			test="dishorder !=null and dishorder.reserveStartTime !=null and dishorder.reserveEndTime !=null">
			and
			create_time between #{dishorder.reserveStartTime} and
			#{dishorder.reserveEndTime}
		</if>
		<if test="dishorder !=null and dishorder.reserveType !=null">
			and
			reserve_type=#{dishorder.reserveType}
		</if>
		<if test="dishorder !=null and dishorder.orderStatus !=null">
			and
			order_status=#{dishorder.orderStatus}
		</if>
		<!-- <if test="dishorder !=null and dishorder.orderStatus !=null">
			SELECT dish_order.id FROM dish_order

			LEFT JOIN reserve ON dish_order.reserve_id=reserve.id

			LEFT JOIN reserve_box ON reserve_box.reserve_id=reserve.id

			LEFT JOIN box ON reserve_box.box_id=box.id

			WHERE dish_order.reserve_type='包厢预订' AND dish_order.order_status=0 AND
			box.room_number='809'


			UNION ALL

			SELECT tablebox1.id FROM(SELECT dish_order.id FROM dish_order

			LEFT JOIN

			(SELECT table_reserve.* FROM table_reserve LEFT JOIN box ON
			table_reserve.table_box_id=box.id WHERE box.room_number='809') AS
			tableBox1

			ON dish_order.reserve_id=tableBox1.id WHERE
			dish_order.reserve_type='扫码点餐' AND tableBox1.type='包厢'

			UNION ALL

			SELECT dish_order.id FROM dish_order

			LEFT JOIN

			(SELECT table_reserve.* FROM table_reserve LEFT JOIN `table` ON
			table_reserve.table_box_id=`table`.id WHERE `table`.number='809') AS
			tableBox2

			ON dish_order.reserve_id=tableBox2.id WHERE
			dish_order.reserve_type='扫码点餐' AND tableBox2.type='桌子') AS tablebox1


			UNION ALL



			SELECT tablebox2.id FROM(SELECT dish_order.id FROM dish_order

			LEFT JOIN

			(SELECT table_reserve_home.* FROM table_reserve_home LEFT JOIN box ON
			table_reserve_home.table_num=box.id WHERE box.room_number='809') AS
			tableBox3

			ON dish_order.reserve_id=tableBox3.id WHERE
			dish_order.reserve_type='店外点餐' AND tableBox3.type='包厢'

			UNION ALL

			SELECT dish_order.id FROM dish_order

			LEFT JOIN

			(SELECT table_reserve_home.* FROM table_reserve_home LEFT JOIN `table` ON
			table_reserve_home.table_num=`table`.id WHERE `table`.number='809')
			AS tableBox4

			ON dish_order.reserve_id=tableBox4.id WHERE
			dish_order.reserve_type='店外点餐' AND tableBox4.type='桌子') AS tablebox2




		</if> -->
		ORDER BY create_time desc
		LIMIT
		${(currentPageNo-1)*pageSize},${pageSize}
	</select>

	<select id="listDishOrderByCustomerId" resultType="DishOrder">
		SELECT
		id,
		order_number,
		reserve_type,
		create_time,
		total_count,
		total_amount,
		discount_amount,
		total_pay_amount,
		order_status
		FROM
		dish_order
		WHERE
		customer_id=#{customerId}
	</select>

	<select id="listDishOrderMenu" resultMap="dishorderline">
		SELECT
		dish_order_line.id,menu.id AS
		menu_id,dish_count,unit_price,specifications,`name`
		FROM
		dish_order_line
		LEFT JOIN menu ON dish_order_line.menu_id=menu.id
		WHERE
		dish_order_line.dish_order_id=#{dishorderId}
	</select>

	<select id="countDishOrder" resultType="Integer">
		SELECT COUNT(*) FROM
		dish_order
	</select>

	<select id="listDishOrderBox" resultType="Box">
		SELECT

		box.id,room_number,room_name,'包厢' AS room_introduction FROM dish_order

		LEFT JOIN reserve ON dish_order.reserve_id=reserve.id

		LEFT JOIN
		reserve_box ON reserve_box.reserve_id=reserve.id

		LEFT JOIN box ON
		reserve_box.box_id=box.id

		WHERE dish_order.reserve_type='包厢预订' AND
		dish_order.id=#{dishorderId}


		UNION ALL

		SELECT * FROM(SELECT
		tableBox1.box_id,room_number,room_name,'包厢' AS 'type'
		FROM dish_order

		LEFT JOIN

		(SELECT table_reserve.id,box.id AS
		box_id,room_number,room_name FROM
		table_reserve LEFT JOIN box ON
		table_reserve.table_box_id=box.id WHERE
		table_reserve.type='包厢') AS
		tableBox1

		ON dish_order.reserve_id=tableBox1.id WHERE
		dish_order.reserve_type='扫码点餐' AND dish_order.id=#{dishorderId}

		UNION
		ALL

		SELECT tableBox2.table_id,number,table_name,'桌子' AS 'type' FROM
		dish_order

		LEFT JOIN

		(SELECT table_reserve.id,table.id AS
		table_id,number,table_name FROM
		table_reserve LEFT JOIN `table` ON
		table_reserve.table_box_id=`table`.id WHERE table_reserve.type='桌子')
		AS tableBox2

		ON dish_order.reserve_id=tableBox2.id WHERE
		dish_order.reserve_type='扫码点餐' AND dish_order.id=#{dishorderId}) AS
		tablebox


		UNION ALL



		SELECT * FROM(SELECT
		tableBox3.box_id,room_number,room_name,'包厢' AS 'type'
		FROM dish_order

		LEFT JOIN

		(SELECT table_reserve_home.id,box.id AS
		box_id,room_number,room_name FROM
		table_reserve_home LEFT JOIN box ON
		table_reserve_home.table_num=box.id WHERE
		table_reserve_home.type='包厢') AS tableBox3

		ON
		dish_order.reserve_id=tableBox3.id WHERE
		dish_order.reserve_type='店外点餐' AND dish_order.id=#{dishorderId}

		UNION
		ALL

		SELECT tableBox4.table_id ,number,table_name,'桌子' AS 'type' FROM
		dish_order

		LEFT JOIN

		(SELECT table_reserve_home.id,table.id AS
		table_id,number,table_name FROM
		table_reserve_home LEFT JOIN `table` ON
		table_reserve_home.table_num=`table`.id WHERE
		table_reserve_home.type='桌子') AS tableBox4

		ON
		dish_order.reserve_id=tableBox4.id WHERE
		dish_order.reserve_type='店外点餐' AND dish_order.id=#{dishorderId}) AS
		tablebox
	</select>

</mapper>