<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指向mapper接口 -->
<mapper
	namespace="com.wt.restaurant.dao.tablereservehome.ITableReserveHomeMapper">
	<resultMap type="TableReserveHome" id="tablereservehome">
		<id column="id" property="id" />
		<result column="reservations_name" property="reservationsName" />
		<result column="reservations_sex" property="reservationsSex" />
		<result column="reservations_tel" property="reservationsTel" />
		<result column="reservations_num" property="reservationsNum" />
		<result column="reservations_start_time"
			property="reservationsStartTime" />
		<result column="reserve_time" property="reserveTime" />
		<result column="table_num" property="tableNum" />
		<result column="remarks" property="remarks" />

		<collection property="menu" ofType="Menu" column="id">
			<id column="menu_id" property="id" />
			<result column="menu_name" property="name" />
			<result column="large_price" property="largePrice" />
			<result column="medium_price" property="mediumPrice" />
			<result column="small_price" property="smallPrice" />
			<result column="specifications" property="specifications" />
			<result column="choose_price" property="choosePrice" />
			<result column="menu_count" property="menuCount" />
			<result column="discount_price" property="discountPrice" />
			<result column="discount" property="discount" />
			<collection property="menuimage" ofType="MenuImage"
				column="id">
				<id column="menu_image_id" property="id" />
				<result column="url" property="url" />
			</collection>
		</collection>
	</resultMap>

	<select id="listTableReserveHome" resultMap="tablereservehome">
		SELECT
		table_reserve_home.id,
		reservations_name,
		reservations_sex,
		reservations_tel,
		reservations_num,
		reservations_start_time,
		reserve_time,
		specifications,
		choose_price,
		menu_count,
		remarks,
		table_num,
		menu.id AS menu_id,menu.name AS
		menu_name,large_price,medium_price,small_price,discount,discount_price
		FROM
		(SELECT * FROM table_reserve_home
		where 1=1
		<if
			test="tablereservehome !=null and tablereservehome.reservationsName !=null">
			and
			reservations_name like
			"%${tablereservehome.reservationsName}%"
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.reservationsTel !=null">
			and
			reservations_tel=#{tablereservehome.reservationsTel}
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.EatStartTime !=null and tablereservehome.EatEndTime !=null">
			and
			reservations_start_time between
			#{tablereservehome.EatStartTime} and
			#{tablereservehome.EatEndTime}
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.EatStartTime !=null and tablereservehome.EatEndTime ==null">
			and
			reservations_start_time >= #{tablereservehome.EatStartTime}
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.EatStartTime ==null and tablereservehome.EatEndTime !=null">
			and
			#{tablereservehome.EatEndTime} >reservations_start_time
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.reserveStartTime !=null and tablereservehome.reserveEndTime !=null">
			and
			reserve_time between #{tablereservehome.reserveStartTime} and
			#{tablereservehome.reserveEndTime}
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.reserveStartTime !=null and tablereservehome.reserveEndTime ==null">
			and
			reserve_time >= #{tablereservehome.reserveStartTime}
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.reserveStartTime ==null and tablereservehome.reserveEndTime !=null">
			and
			#{tablereservehome.reserveEndTime} > reserve_time

		</if>
		ORDER BY reserve_time DESC LIMIT
		${(currentPageNo-1)*pageSize},${pageSize})
		AS table_reserve_home
		LEFT
		JOIN
		table_reserve_home_menu
		ON
		table_reserve_home.id=table_reserve_home_menu.reserve_id
		LEFT
		JOIN menu
		ON
		menu.id=table_reserve_home_menu.menu_id
		ORDER BY reserve_time desc
	</select>

	<update id="updateTableReserveHome"
		parameterType="TableReserveHome">
		update menu
		set
		name=#{name},
		classification_id=#{classification.id},
		price=#{price},
		sales_volume=#{salesVolume},
		discount=#{discount},
		discount_price=#{discountPrice},
		introduction=#{introduction},
		sort=#{sort}
		where id=#{id};
	</update>

	<insert id="saveTableReserveHome"
		parameterType="TableReserveHome" useGeneratedKeys="true"
		keyProperty="id">
		insert into table_reserve_home
		(customer_id,
		reservations_name,
		reservations_sex,
		reservations_tel,
		reservations_num,
		reservations_start_time,
		reserve_time,
		remarks)
		values(#{customer.id},#{reservationsName},
		#{reservationsSex},#{reservationsTel},#{reservationsNum},#{reservationsStartTime},
		NOW(),#{remarks});
	</insert>

	<insert id="saveMenu">
		insert into table_reserve_home_menu
		(reserve_id,menu_id,specifications,choose_price,menu_count)
		values
		<foreach collection="menuList" item="menu" separator=",">
			(#{menu.reserveId},#{menu.id},#{menu.specifications},#{menu.choosePrice},#{menu.menuCount})
		</foreach>
	</insert>

	<insert id="saveDishOrder" parameterType="DishOrder"
		useGeneratedKeys="true" keyProperty="id">
		insert into dish_order
		(customer_id,reserve_id,reserve_type,order_number,create_time,total_count,total_amount,discount_amount,total_pay_amount)
		values(#{customer.id},#{reserve.id},#{reserveType},#{orderNumber},NOW(),#{totalCount},#{totalAmount},#{discountAmount},#{totalPayAmount});
	</insert>

	<insert id="saveDishOrderLine">
		insert into dish_order_line
		(dish_order_id,menu_id,dish_count,unit_price,specifications)
		values
		<foreach collection="dishorderlinelist" item="dishorderline"
			separator=",">
			(#{dishorderline.dishorder.id},#{dishorderline.menu.id},#{dishorderline.dishCount},#{dishorderline.unitPrice},#{dishorderline.specifications})
		</foreach>
	</insert>

	<delete id="removeTableReserveHome" parameterType="Integer">
		delete from
		table_reserve_home
		where
		id=#{id}
	</delete>

	<select id="getTableReserveHome" resultMap="tablereservehome">
		SELECT
		table_reserve_home.id,
		reservations_name,
		reservations_sex,
		reservations_tel,
		reservations_num,
		reservations_start_time,
		reserve_time,
		remarks,
		specifications,
		choose_price,
		menu_count,
		table_num,
		menu.id AS menu_id,menu.name AS
		menu_name,large_price,medium_price,small_price,discount,discount_price
		FROM
		table_reserve_home_menu
		LEFT JOIN
		table_reserve_home ON
		table_reserve_home.id=table_reserve_home_menu.reserve_id
		LEFT
		JOIN menu
		ON
		menu.id=table_reserve_home_menu.menu_id
		WHERE
		table_reserve_home.id=#{id}
	</select>

	<select id="listTableReserveHomeByCustomerId"
		resultMap="tablereservehome">
		SELECT
		table_reserve_home.id,
		reservations_name,
		reservations_sex,
		reservations_tel,
		reservations_num,
		reservations_start_time,
		reserve_time,
		remarks,
		table_num,
		specifications,
		menu_image.url,
		choose_price,
		menu_count,
		menu.id AS menu_id,menu.name AS
		menu_name,large_price,medium_price,small_price,discount,discount_price,
		menu_image.url
		FROM
		table_reserve_home_menu
		LEFT JOIN
		table_reserve_home ON
		table_reserve_home.id=table_reserve_home_menu.reserve_id
		LEFT
		JOIN menu
		ON
		menu.id=table_reserve_home_menu.menu_id
		LEFT JOIN menu_image ON
		menu.id=menu_image.menu_id
		WHERE
		table_reserve_home.customer_id=#{customerId}
	</select>

	<select id="countTableReserveHome" resultType="Integer">
		SELECT COUNT(*) FROM table_reserve_home
		where 1=1
		<if
			test="tablereservehome !=null and tablereservehome.reservationsName !=null">
			and
			reservations_name like
			"%${tablereservehome.reservationsName}%"
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.reservationsTel !=null">
			and
			reservations_tel=#{tablereservehome.reservationsTel}
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.EatStartTime !=null and tablereservehome.EatEndTime !=null">
			and
			reservations_start_time between
			#{tablereservehome.EatStartTime} and
			#{tablereservehome.EatEndTime}
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.EatStartTime !=null and tablereservehome.EatEndTime ==null">
			and
			reservations_start_time >= #{tablereservehome.EatStartTime}
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.EatStartTime ==null and tablereservehome.EatEndTime !=null">
			and
			#{tablereservehome.EatEndTime} >reservations_start_time
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.reserveStartTime !=null and tablereservehome.reserveEndTime !=null">
			and
			reserve_time between #{tablereservehome.reserveStartTime} and
			#{tablereservehome.reserveEndTime}
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.reserveStartTime !=null and tablereservehome.reserveEndTime ==null">
			and
			reserve_time >= #{tablereservehome.reserveStartTime}
		</if>
		<if
			test="tablereservehome !=null and tablereservehome.reserveStartTime ==null and tablereservehome.reserveEndTime !=null">
			and
			#{tablereservehome.reserveEndTime} > reserve_time
		</if>
	</select>

</mapper>