<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指向mapper接口 -->
<mapper namespace="com.wt.restaurant.dao.prize.IPrizeRecordMapper">

	<resultMap type="PrizeRecord" id="prizeRecord">
		<id column="id" property="id"/>
		<result column="prize_time" property="prizeTime"/>
		<association property="customer" javaType="Customer">
			<id column="customer_id" property="id"/>
		</association>
		<association property="prize" javaType="Prize">
			<id column="prize_id" property="id"/>
			<result column="prize_url" property="url"/>
			<result column="prize_description" property="description"/>
		</association>
		
	</resultMap>
	
	<select id="getPrizeRecord" parameterType="Integer" resultMap="prizeRecord">
		SELECT
			prize_record.*,
			prize.url AS prize_url,
			prize.description AS prize_description
		FROM 
			prize_record
		LEFT JOIN 
			prize 
		ON prize_id = prize.id
		where prize_record.id=#{id};
	</select>

	<insert id="savePrizeRecord" parameterType="PrizeRecord" useGeneratedKeys="true" keyProperty="id">
		insert into prize_record
		(prize_id,customer_id)
		values(#{prizeRecord.prize.id},#{prizeRecord.customer.id});
	</insert>
	
	<select id="listPrizeRecordByCustomerId" resultMap="prizeRecord">
		SELECT
			prize_record.*,
			prize.url AS prize_url,
			prize.description AS prize_description
		FROM 
			prize_record
		LEFT JOIN 
			prize 
		ON prize_id = prize.id

		where customer_id=#{customerId};
	</select>

</mapper>