<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指向mapper接口 -->
<mapper namespace="com.wt.restaurant.dao.box.IBoxMapper">
	<resultMap type="Box" id="box">
		<id column="id" property="id" />
		<result column="room_number" property="roomNumber" />
		<result column="room_size" property="roomSize" />
		<result column="room_name" property="roomName" />
		<result column="room_introduction" property="roomIntroduction" />

		<collection property="boximage" ofType="BoxImage"
			column="id">
			<id column="boximage_id" property="id" />
			<result column="url" property="url" />
			<result column="name" property="name" />
		</collection>

	</resultMap>

	<select id="listBox" resultMap="box">
		SELECT
		box.id,
		room_number,
		room_size,
		room_name,
		room_introduction,
		box_image.id AS boximage_id,
		box.url,
		box_image.name
		FROM box
		LEFT JOIN
		box_image
		ON box_image.box_id = box.id
		where 1=1
		ORDER BY room_number
		LIMIT
		${(currentPageNo-1)*pageSize},${pageSize}
	</select>

	<update id="updateBox" parameterType="Box">
		update box
		set
		room_number=#{roomNumber},
		room_size=#{roomSize},
		room_name=#{roomName},
		room_introduction=#{roomIntroduction}
		where id=#{id};
	</update>

	<update id="updateBoxImage" parameterType="BoxImage">
		update box_image
		<set>
			<if test="name != null">
				name=#{name},
			</if>
			<if test="url != null">
				url=#{url}
			</if>
		</set>
		where id=#{id};
	</update>

	<insert id="saveBox" parameterType="Box" useGeneratedKeys="true"
		keyProperty="id">
		insert into box
		(room_number,
		room_size,
		room_name,
		room_introduction)
		values(#{roomNumber},
		#{roomSize},
		#{roomName},
		#{roomIntroduction});
	</insert>

	<insert id="saveBoxImage">
		insert into box_image
		(box_id,name,url)
		values(#{box.id},#{name},#{url});
	</insert>

	<delete id="removeBox" parameterType="Integer">
		delete from box
		where
		id=#{id}
	</delete>

	<select id="getBox" resultMap="box">
		SELECT
		box.id,
		room_number,
		room_size,
		room_name,
		room_introduction,
		box_image.id AS
		boximage_id,
		url,
		box_image.name
		FROM box
		LEFT JOIN
		box_image
		ON
		box_image.box_id = box.id
		WHERE
		box.id=#{id}
	</select>

	<select id="countBox" resultType="Integer">
		SELECT COUNT(*) FROM
		box where 1=1
	</select>

</mapper>